/* Color Palette
    #949EB3
    #C1D2F5
    #EDF3FF
    #B8AD97
    #FAF8F5
                */

/* 
	Global classes 
					*/

body {
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: #B8AD97;
}


.page {
    background-color: #FAF8F5;
    margin: auto;
    width: 85%;
    height: 110%;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: inline;
    background-color: #EDF3FF;
    width: 100%;
    height: 50px;
}

div {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: -5px;
}

form {
    padding: 20px;
    background-color: #B8AD97;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}

input {
    width: 60%;
    padding-left: 5px;
    border: 0px;
    border-radius: 5px;
    height: 35px;
    margin-bottom: 20px;
    font-family: 'Montserrat';
}


input:focus {
    border-color: #949EB3;
    border-width: 2px;
}

a:visited {
    text-decoration-line: #EDF3FF;
    text-decoration: none;
    color: black;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #949EB3;
}

a:active {
    color: black;
}